name = "browserli"
main = "src/index.ts"
compatibility_date = "2026-02-05"
compatibility_flags = ["nodejs_compat"]

[browser]
binding = "BROWSER"

[[routes]]
pattern = "browserli.drewr.dev"
custom_domain = true
